In [ ]:
USER_FLAG = "--user"

In [ ]:
! pip install {USER_FLAG} --upgrade google-cloud-aiplatform

In [ ]:
! pip install {USER_FLAG} --upgrade google-cloud-storage

In [18]:
import pandas as pd
import numpy as np

df=pd.read_csv('gs://laah-allegis/hackathon_data.csv')

In [ ]:
df.head()

In [8]:
columns=list(df.columns.values)

In [9]:
new_columns = [s.replace(" ", "_") for s in columns]

In [ ]:
new_columns

In [57]:
df2=pd.read_csv('gs://laah-allegis/hackathon_data.csv', names=new_columns, skiprows=2)

In [56]:

#Use pd.to_datetime():

df2['WEEK_ENDING_DATE'] = pd.to_datetime(df2['WEEK_ENDING_DATE'])

In [58]:
df2=df2.drop(['DMONAME', 'WEEK_ENDING_DATE'], axis=1)

In [7]:
df2.head()

,DIVISION_NAME,WEEK_ENDING_DATE,PROD_STAFF_CONTRACTOR_HC_AMT,RECRUITER_TOTAL_CONTACTS_AMT,RETAIL_CONTRACTOR_HC_AMT,RECRUIT_CONTRACTOR_HC_AMT,RECRUITER_ACCOUNT_INTERVIEWS_AMT,PRODUCER_HC,RECRUITER_EMAI_LCONTACTS_AMT,RECRUITER_SERVICE_TOUCHPOINTS,...,OFFER_ACCEPT_AMT,CLIENT_INTERVIEW_AMT,STAFF_SPREAD_AMT,RECRUITER_G2S_MODIFIED_AMT,NON_RECRUIT_CONTRACTOR_HC_AMT,DPT_CONTRACTOR_HC_AMT,SALES_COMPLETED_ACTIVITIES_AMT,RECRUITER_TOTAL_SUBMITTALS_AMT,CORP_ACCTS_AMT,RETAIL_FINISHES_AMT
0,3,2017-01-07,185,497,163,27,4,19,2,2,...,12,12,63568.14,209,158,16,44,11,52,3
1,9,2017-01-07,57,0,53,0,0,0,0,0,...,0,0,7748.79,0,57,1,0,0,22,3
2,4,2017-01-07,33,224,33,0,2,8,2,2,...,2,1,6028.41,124,33,0,20,14,12,4
3,7,2017-01-07,299,569,267,0,7,16,10,22,...,15,14,58125.32,190,299,8,20,32,77,22
4,0,2017-01-07,30,255,30,0,1,14,2,1,...,1,2,14094.62,113,30,15,157,6,25,2

In [59]:
df2.describe()

,DIVISION_NAME,PROD_STAFF_CONTRACTOR_HC_AMT,RECRUITER_TOTAL_CONTACTS_AMT,RETAIL_CONTRACTOR_HC_AMT,RECRUIT_CONTRACTOR_HC_AMT,RECRUITER_ACCOUNT_INTERVIEWS_AMT,PRODUCER_HC,RECRUITER_EMAI_LCONTACTS_AMT,RECRUITER_SERVICE_TOUCHPOINTS,STAFF_CONTRACTOR_HC_AMT,...,OFFER_ACCEPT_AMT,CLIENT_INTERVIEW_AMT,STAFF_SPREAD_AMT,RECRUITER_G2S_MODIFIED_AMT,NON_RECRUIT_CONTRACTOR_HC_AMT,DPT_CONTRACTOR_HC_AMT,SALES_COMPLETED_ACTIVITIES_AMT,RECRUITER_TOTAL_SUBMITTALS_AMT,CORP_ACCTS_AMT,RETAIL_FINISHES_AMT
count,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,...,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000
mean,4.770009,747.565777,1997.000920,623.264029,63.610856,30.434223,53.090156,53.677093,63.939282,725.936523,...,41.931003,49.033119,266069.353569,711.693652,724.080957,61.755290,264.605336,98.753450,223.451702,29.918123
std,3.279000,829.105458,2545.355437,643.499652,104.344399,40.510407,58.638490,95.812373,104.096092,771.524520,...,55.756589,64.108225,242119.735398,829.085013,794.627952,73.858065,338.330632,122.900452,198.767550,40.842731
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-68097.610000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,98.000000,0.000000,98.000000,0.000000,0.000000,0.000000,0.000000,0.000000,126.000000,...,0.000000,0.000000,29657.810000,0.000000,119.000000,0.000000,0.000000,0.000000,35.000000,0.000000
50%,4.000000,266.000000,518.000000,392.000000,0.000000,0.000000,21.000000,0.000000,0.000000,357.000000,...,21.000000,14.000000,284641.700000,231.000000,266.000000,21.000000,21.000000,28.000000,133.000000,14.000000
75%,7.000000,1386.000000,3748.500000,1050.000000,84.000000,56.000000,119.000000,77.000000,98.000000,1267.000000,...,70.000000,91.000000,467673.115000,1505.000000,1267.000000,112.000000,528.500000,196.000000,385.000000,42.000000
max,10.000000,3024.000000,13104.000000,2303.000000,413.000000,175.000000,161.000000,616.000000,721.000000,2968.000000,...,343.000000,518.000000,889447.930000,2716.000000,3010.000000,273.000000,1645.000000,539.000000,679.000000,252.000000

In [ ]:
df2.dtypes

In [13]:
df2.isnull().sum()

DIVISION_NAME                       0
WEEK_ENDING_DATE                    0
PROD_STAFF_CONTRACTOR_HC_AMT        0
RECRUITER_TOTAL_CONTACTS_AMT        0
RETAIL_CONTRACTOR_HC_AMT            0
RECRUIT_CONTRACTOR_HC_AMT           0
RECRUITER_ACCOUNT_INTERVIEWS_AMT    0
PRODUCER_HC                         0
RECRUITER_EMAI_LCONTACTS_AMT        0
RECRUITER_SERVICE_TOUCHPOINTS       0
STAFF_CONTRACTOR_HC_AMT             0
SSO_CONTRACTOR_HC_AMT               0
LARGE_CORP_ACCTS_AMT                0
CONTRACTOR_HC_AMT                   0
FISCAL_MONTH                        0
SERVICES_CONTRACTOR_HC_AMT          0
RECRUITER_OFFERS_ACCEPTED_AMT       0
SALES_MEETINGS_AMT                  0
OFFER_ACCEPT_AMT                    0
CLIENT_INTERVIEW_AMT                0
STAFF_SPREAD_AMT                    0
RECRUITER_G2S_MODIFIED_AMT          0
NON_RECRUIT_CONTRACTOR_HC_AMT       0
DPT_CONTRACTOR_HC_AMT               0
SALES_COMPLETED_ACTIVITIES_AMT      0
RECRUITER_TOTAL_SUBMITTALS_AMT      0
CORP_ACCTS_AMT                      0
RETAIL_FINISHES_AMT                 0
dtype: int64

In [43]:
df2['OFFER_ACCEPT_AMT'].value_counts()

0      455
7       47
42      44
63      44
21      43
28      42
56      42
14      34
70      31
35      30
77      28
49      27
91      26
84      24
105     19
112     18
119     17
98      16
140     12
133      9
126      8
210      7
154      6
147      6
189      6
161      6
168      5
196      4
175      4
182      4
217      3
203      3
266      2
224      2
273      2
287      2
280      1
12       1
231      1
343      1
238      1
1        1
15       1
2        1
245      1
Name: OFFER_ACCEPT_AMT, dtype: int64

In [60]:
df2['OFFER_ACCEPT']=pd.cut(df2['OFFER_ACCEPT_AMT'], [-np.inf, 1, np.inf], labels=[0, 1])

In [61]:
df2=df2.drop(columns='OFFER_ACCEPT_AMT')

In [62]:
target_column='OFFER_ACCEPT'
X, y = df2.drop(columns=target_column), df2[target_column]

In [63]:
y.value_counts().sort_index()

0    456
1    631
Name: OFFER_ACCEPT, dtype: int64

In [66]:
df2.to_csv('gs://laah-allegis/new_allegis3.csv', index=False)

In [2]:
import os

PROJECT_ID = ""

# Get your Google Cloud project ID from gcloud
if not os.getenv("IS_TESTING"):
    shell_output=!gcloud config list --format 'value(core.project)' 2>/dev/null
    PROJECT_ID = shell_output[0]
    print("Project ID: ", PROJECT_ID)

Project ID:  laah-vertex-pipeline

In [3]:
BUCKET_NAME = "gs://laah-allegis"  # @param {type:"string"}
REGION = "us-central1"  # @param {type:"string"}

In [4]:
import os

from google.cloud import aiplatform

aiplatform.init(project=PROJECT_ID, location=REGION)

In [5]:
ds = aiplatform.TabularDataset('projects/1052547690175/locations/us-central1/datasets/3375228018388631552')
'projects/1052547690175/locations/us-central1/datasets/3375228018388631552'

'projects/1052547690175/locations/us-central1/datasets/3375228018388631552'

In [52]:
X.dtypes

DIVISION_NAME                                int64
WEEK_ENDING_DATE                    datetime64[ns]
PROD_STAFF_CONTRACTOR_HC_AMT                 int64
RECRUITER_TOTAL_CONTACTS_AMT                 int64
RETAIL_CONTRACTOR_HC_AMT                     int64
RECRUIT_CONTRACTOR_HC_AMT                    int64
RECRUITER_ACCOUNT_INTERVIEWS_AMT             int64
PRODUCER_HC                                  int64
RECRUITER_EMAI_LCONTACTS_AMT                 int64
RECRUITER_SERVICE_TOUCHPOINTS                int64
STAFF_CONTRACTOR_HC_AMT                      int64
SSO_CONTRACTOR_HC_AMT                        int64
LARGE_CORP_ACCTS_AMT                         int64
CONTRACTOR_HC_AMT                            int64
FISCAL_MONTH                                 int64
SERVICES_CONTRACTOR_HC_AMT                   int64
RECRUITER_OFFERS_ACCEPTED_AMT                int64
SALES_MEETINGS_AMT                           int64
CLIENT_INTERVIEW_AMT                         int64
STAFF_SPREAD_AMT                           float64
RECRUITER_G2S_MODIFIED_AMT                   int64
NON_RECRUIT_CONTRACTOR_HC_AMT                int64
DPT_CONTRACTOR_HC_AMT                        int64
SALES_COMPLETED_ACTIVITIES_AMT               int64
RECRUITER_TOTAL_SUBMITTALS_AMT               int64
CORP_ACCTS_AMT                               int64
RETAIL_FINISHES_AMT                          int64
dtype: object

In [74]:
# gradient boosting for classification in scikit-learn
from numpy import mean
from numpy import std
import sklearn
from sklearn.datasets import make_classification
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from matplotlib import pyplot
from sklearn.metrics import auc
# define dataset
#X, y = make_classification(n_samples=1000, n_features=10, n_informative=5, n_redundant=5, random_state=1)
# evaluate the model
model = GradientBoostingClassifier()
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, X, y, scoring='roc_auc', cv=cv, n_jobs=-1, error_score='raise')
print('AUC: %.3f' % (mean(n_scores)))
# fit the model on the whole dataset
model = GradientBoostingClassifier()
model.fit(X, y)

AUC: 0.993

GradientBoostingClassifier()

In [71]:
sorted(sklearn.metrics.SCORERS.keys())

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'jaccard',
 'jaccard_macro',
 'jaccard_micro',
 'jaccard_samples',
 'jaccard_weighted',
 'max_error',
 'mutual_info_score',
 'neg_brier_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_absolute_percentage_error',
 'neg_mean_gamma_deviance',
 'neg_mean_poisson_deviance',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'neg_root_mean_squared_error',
 'normalized_mutual_info_score',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'rand_score',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'roc_auc_ovo',
 'roc_auc_ovo_weighted',
 'roc_auc_ovr',
 'roc_auc_ovr_weighted',
 'top_k_accuracy',
 'v_measure_score']