In [ ]:
USER_FLAG = "--user"

In [ ]:
! pip install {USER_FLAG} --upgrade google-cloud-aiplatform

In [ ]:
! pip install {USER_FLAG} --upgrade google-cloud-storage

In [60]:
import pandas as pd
df=pd.read_csv('gs://laah-allegis/hackathon_data.csv')

In [ ]:
df.head()

In [61]:
columns=list(df.columns.values)

In [62]:
new_columns = [s.replace(" ", "_") for s in columns]

In [ ]:
new_columns

In [63]:
df2=pd.read_csv('gs://laah-allegis/hackathon_data.csv', names=new_columns, skiprows=2)

In [64]:
df2.head()

,DMONAME,DIVISION_NAME,WEEK_ENDING_DATE,PROD_STAFF_CONTRACTOR_HC_AMT,RECRUITER_TOTAL_CONTACTS_AMT,RETAIL_CONTRACTOR_HC_AMT,RECRUIT_CONTRACTOR_HC_AMT,RECRUITER_ACCOUNT_INTERVIEWS_AMT,PRODUCER_HC,RECRUITER_EMAI_LCONTACTS_AMT,...,OFFER_ACCEPT_AMT,CLIENT_INTERVIEW_AMT,STAFF_SPREAD_AMT,RECRUITER_G2S_MODIFIED_AMT,NON_RECRUIT_CONTRACTOR_HC_AMT,DPT_CONTRACTOR_HC_AMT,SALES_COMPLETED_ACTIVITIES_AMT,RECRUITER_TOTAL_SUBMITTALS_AMT,CORP_ACCTS_AMT,RETAIL_FINISHES_AMT
0,09c0f361d7353b8b166115270955e519de44e037854132...,3,1/7/17,185,497,163,27,4,19,2,...,12,12,63568.14,209,158,16,44,11,52,3
1,4486bb27160330362c51facbcb0a379f7d3060ae40760c...,9,1/7/17,57,0,53,0,0,0,0,...,0,0,7748.79,0,57,1,0,0,22,3
2,4486bb27160330362c51facbcb0a379f7d3060ae40760c...,4,1/7/17,33,224,33,0,2,8,2,...,2,1,6028.41,124,33,0,20,14,12,4
3,9b626fe3018dabd62456350cf79f02521da2995d5f6b54...,7,1/7/17,299,569,267,0,7,16,10,...,15,14,58125.32,190,299,8,20,32,77,22
4,4486bb27160330362c51facbcb0a379f7d3060ae40760c...,0,1/7/17,30,255,30,0,1,14,2,...,1,2,14094.62,113,30,15,157,6,25,2

In [69]:
df2.describe()

,DIVISION_NAME,PROD_STAFF_CONTRACTOR_HC_AMT,RECRUITER_TOTAL_CONTACTS_AMT,RETAIL_CONTRACTOR_HC_AMT,RECRUIT_CONTRACTOR_HC_AMT,RECRUITER_ACCOUNT_INTERVIEWS_AMT,PRODUCER_HC,RECRUITER_EMAI_LCONTACTS_AMT,RECRUITER_SERVICE_TOUCHPOINTS,STAFF_CONTRACTOR_HC_AMT,...,OFFER_ACCEPT_AMT,CLIENT_INTERVIEW_AMT,STAFF_SPREAD_AMT,RECRUITER_G2S_MODIFIED_AMT,NON_RECRUIT_CONTRACTOR_HC_AMT,DPT_CONTRACTOR_HC_AMT,SALES_COMPLETED_ACTIVITIES_AMT,RECRUITER_TOTAL_SUBMITTALS_AMT,CORP_ACCTS_AMT,RETAIL_FINISHES_AMT
count,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,...,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000
mean,4.770009,747.565777,1997.000920,623.264029,63.610856,30.434223,53.090156,53.677093,63.939282,725.936523,...,41.931003,49.033119,266069.353569,711.693652,724.080957,61.755290,264.605336,98.753450,223.451702,29.918123
std,3.279000,829.105458,2545.355437,643.499652,104.344399,40.510407,58.638490,95.812373,104.096092,771.524520,...,55.756589,64.108225,242119.735398,829.085013,794.627952,73.858065,338.330632,122.900452,198.767550,40.842731
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-68097.610000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,98.000000,0.000000,98.000000,0.000000,0.000000,0.000000,0.000000,0.000000,126.000000,...,0.000000,0.000000,29657.810000,0.000000,119.000000,0.000000,0.000000,0.000000,35.000000,0.000000
50%,4.000000,266.000000,518.000000,392.000000,0.000000,0.000000,21.000000,0.000000,0.000000,357.000000,...,21.000000,14.000000,284641.700000,231.000000,266.000000,21.000000,21.000000,28.000000,133.000000,14.000000
75%,7.000000,1386.000000,3748.500000,1050.000000,84.000000,56.000000,119.000000,77.000000,98.000000,1267.000000,...,70.000000,91.000000,467673.115000,1505.000000,1267.000000,112.000000,528.500000,196.000000,385.000000,42.000000
max,10.000000,3024.000000,13104.000000,2303.000000,413.000000,175.000000,161.000000,616.000000,721.000000,2968.000000,...,343.000000,518.000000,889447.930000,2716.000000,3010.000000,273.000000,1645.000000,539.000000,679.000000,252.000000

In [ ]:
df2.dtypes

In [65]:
df2.to_csv('gs://laah-allegis/new_allegis.csv', index=False)

In [66]:
PROJECT_ID = ""

# Get your Google Cloud project ID from gcloud
if not os.getenv("IS_TESTING"):
    shell_output=!gcloud config list --format 'value(core.project)' 2>/dev/null
    PROJECT_ID = shell_output[0]
    print("Project ID: ", PROJECT_ID)

Project ID:  laah-vertex-pipeline

In [67]:
BUCKET_NAME = "gs://laah-allegis"  # @param {type:"string"}
REGION = "us-central1"  # @param {type:"string"}

In [68]:
import os

from google.cloud import aiplatform

aiplatform.init(project=PROJECT_ID, location=REGION)

In [70]:

ds = dataset = aiplatform.TabularDataset.create(
    display_name="allegis-tabular-dataset",
    gcs_source='gs://laah-allegis/new_allegis.csv',
)

ds.resource_name

INFO:google.cloud.aiplatform.datasets.dataset:Creating TabularDataset
INFO:google.cloud.aiplatform.datasets.dataset:Create TabularDataset backing LRO: projects/1052547690175/locations/us-central1/datasets/2924868055651581952/operations/875067288405934080
INFO:google.cloud.aiplatform.datasets.dataset:TabularDataset created. Resource name: projects/1052547690175/locations/us-central1/datasets/2924868055651581952
INFO:google.cloud.aiplatform.datasets.dataset:To use this TabularDataset in another session:
INFO:google.cloud.aiplatform.datasets.dataset:ds = aiplatform.TabularDataset('projects/1052547690175/locations/us-central1/datasets/2924868055651581952')

'projects/1052547690175/locations/us-central1/datasets/2924868055651581952'

In [ ]:
job = aiplatform.AutoMLTabularTrainingJob(
    display_name="train-allegis-automl-1",
    optimization_prediction_type="regression",
)

# This will take around an hour to run
model = job.run(
    dataset=ds,
    target_column="STAFF_SPREAD_AMT",
    training_fraction_split=0.8,
    validation_fraction_split=0.1,
    test_fraction_split=0.1,
    model_display_name="allegis-prediction-model",
    disable_early_stopping=False,
)

INFO:google.cloud.aiplatform.training_jobs:No column transformations provided, so now retrieving columns from dataset in order to set default column transformations.
INFO:google.cloud.aiplatform.training_jobs:The column transformation of type 'auto' was set for the following columns: ['OFFER_ACCEPT_AMT', 'DPT_CONTRACTOR_HC_AMT', 'STAFF_CONTRACTOR_HC_AMT', 'PROD_STAFF_CONTRACTOR_HC_AMT', 'RECRUITER_G2S_MODIFIED_AMT', 'FISCAL_MONTH', 'PRODUCER_HC', 'LARGE_CORP_ACCTS_AMT', 'SSO_CONTRACTOR_HC_AMT', 'DIVISION_NAME', 'SALES_MEETINGS_AMT', 'SALES_COMPLETED_ACTIVITIES_AMT', 'DMONAME', 'RECRUITER_EMAI_LCONTACTS_AMT', 'SERVICES_CONTRACTOR_HC_AMT', 'CORP_ACCTS_AMT', 'RECRUITER_TOTAL_SUBMITTALS_AMT', 'RECRUITER_SERVICE_TOUCHPOINTS', 'RETAIL_CONTRACTOR_HC_AMT', 'CONTRACTOR_HC_AMT', 'WEEK_ENDING_DATE', 'NON_RECRUIT_CONTRACTOR_HC_AMT', 'RETAIL_FINISHES_AMT', 'CLIENT_INTERVIEW_AMT', 'RECRUITER_TOTAL_CONTACTS_AMT', 'RECRUIT_CONTRACTOR_HC_AMT', 'RECRUITER_OFFERS_ACCEPTED_AMT', 'RECRUITER_ACCOUNT_INTERVIEWS_AMT'].
INFO:google.cloud.aiplatform.training_jobs:View Training:
https://console.cloud.google.com/ai/platform/locations/us-central1/training/3612394875523170304?project=1052547690175
INFO:google.cloud.aiplatform.training_jobs:AutoMLTabularTrainingJob projects/1052547690175/locations/us-central1/trainingPipelines/3612394875523170304 current state:
PipelineState.PIPELINE_STATE_RUNNING
INFO:google.cloud.aiplatform.training_jobs:AutoMLTabularTrainingJob projects/1052547690175/locations/us-central1/trainingPipelines/3612394875523170304 current state:
PipelineState.PIPELINE_STATE_RUNNING
INFO:google.cloud.aiplatform.training_jobs:AutoMLTabularTrainingJob projects/1052547690175/locations/us-central1/trainingPipelines/3612394875523170304 current state:
PipelineState.PIPELINE_STATE_RUNNING
INFO:google.cloud.aiplatform.training_jobs:AutoMLTabularTrainingJob projects/1052547690175/locations/us-central1/trainingPipelines/3612394875523170304 current state:
PipelineState.PIPELINE_STATE_RUNNING
INFO:google.cloud.aiplatform.training_jobs:AutoMLTabularTrainingJob projects/1052547690175/locations/us-central1/trainingPipelines/3612394875523170304 current state:
PipelineState.PIPELINE_STATE_RUNNING

In [ ]:
pwd